




:root {
  --light-gray: #EEEEEE;
  --gray: #888888;
  --light-red: #FB565A;
  --red: #E74246;
  --bright-red: #D7373B;
  --black: #000000;
  --dark-gray: #283136;
  --icon-gray: #E1E1E1;
  --light-green: #00CA74;
  --green: #00BC6C;
  --dark-green: #00AA62;
  --light-yellow: #EFC84A;
  --yellow; #EAB534;
  --dark-yellow: #E5A722;

}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  style: normal;
  color: var(--black);
  text-transform: none;
  background-color: #888888;
  background-image: url(".jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  }
img {
  max-width: 100%;
  height: auto;
}

.inner-page .main-header {
  background-color: #EEEEEE;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #EEEEEE;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #FB565A;
}
.basket-navigation:hover,
.basket-navigation:focus {
  color: #FB565A;
}
.more-info:hover,
.more-info:focus {
  background-color: #E74246;
}
/* Features */
.features, {
  background-color: #EEEEEE;
}

.features h2, .page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

}
.features a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

/* Products*/
.product-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.product-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.order-web:hover,
.order-web:focus {
  background-color: #E74246;
}
.order-app:hover,
.order-app:focus {
  background-color: #00BC6C;
}
.order-presentation:hover,
.order-presentation:focus {
  background-color: #E5A722;
}
/* About Nerds*/
.about h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about h4, .percent h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

/* Partners */
.academy-hover {
  background: url("img/logo-1 2.png");
}
.barbershop-hover {
  background: url("img/logo-2 2.png");
}
.pink-hover {
  background: url("img/logo-3 2.png");
}
.mishka-hover {
  background: url("img/logo-4 2.png");
}

/* Contacts */
.contacts h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
/* Filters */
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
/* Catalog */
.catalog-list {
  list-style: none;
}
.catalog-item {
  background-color: #EEEEEE;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.catalog-item-price {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  background-color: #FB565A;
}

/* Pagination */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #EEEEEE;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item a:hover {
  background-color: #DFDFDF;
}
.pagination-item a:focus {
  background-color: #D5D5D5;
  opacity: 30%;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: black;
  background-color: #DBDBDB;
}

/* Main footer */
.footer-social h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.social-button:hover,
.social-button:focus {
  background-color: #D7373B;
}
